.navbar-inverse {
	margin-bottom: 0px;
}

.page-header {
	background: #fafbfc;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e1e4e8;
}

.page-header h1 {
	margin: 0px;
	font-size: 18px;
}