<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<meta charset="UTF-8"/>
		<title>Cobrança</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/sistema.css}" />
	</head>
	
	<body>
		<header layout:include="Cabecalho"></header>
	
		<div class="container" layout:fragment="conteudo">
		
		</div>
		
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/sistema.js}"></script>
	</body>
</html>