<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">

	<head>
		<title>Pesquisa de títulos</title>
	</head>

	<div class="container" layout:fragment="conteudo">
		<h2>Pesquisa de títulos</h2>
	
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Mensagem</span>
		</div>
		
		<form method="GET" class="form-horizontal">
	   		<div class="form-group">
	   			<div class="col-sm-4">
	   				<div class="input-group">
	   					<input class="form-control" placeholder="Qual título você está procurando?"
	   						autofocus="autofocus" />
	   					<span class="input-group-btn">
	   						<button type="submit" class="btn btn-default">
	   							<i class="glyphicon glyphicon-search"></i>
	   						</button>
	   					</span>
	   				</div>
	   			</div>
	   		</div>
	   	</form>
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">#</th>
					<th>Decrição</th>
					<th class="text-center col-md-2">Data de vencimento</th>
					<th class="text-right col-md-2">Valor</th>
					<th class="text-center" width="120">Status</th>
					<th class="text-center" width="130">Ações</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="titulo : ${titulos}">
					<td class="text-center" th:text="${titulo.id}"></td>
					<td th:text="${titulo.descricao}"></td>
					<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
					<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
					<td class="text-center" th:attr="data-role=${titulo.id}">
						<span class="label" th:text="${titulo.status.descricao}"
							th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}">
						</span>
					</td>
					<td class="text-center">
						<a th:href="@{/titulos/{id}(id=${titulo.id})}"
							class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top">
	   						<span class="glyphicon glyphicon-pencil"></span>
	   					</a>
	   					
	   					<a class="btn btn-link btn-xs" title="Excluir" rel="tooltip" data-placement="top"
	   						data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   						th:attr="data-id=${titulo.id}, data-descricao=${titulo.descricao}">
	   						<span class="glyphicon glyphicon-remove"></span>
	   					</a>
	   					
	   					<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
	   						title="Receber" rel="tooltip" data-placement="top" th:attr="data-id=${titulo.id}"
	   						th:href="@{/titulos/{id}/receber(id=${titulo.id})}">
	   						<span class="glyphicon glyphicon-check"></span>
	   					</a>
					</td>
				</tr>
	
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">
						Nenhum título foi encontrado
					</td>
				</tr>
			</tbody>
		</table>
	
		<div layout:include="DialogoConfirmacao" />
	</div>
</html>